/*Variables*/
/* SCSS*/
.pagina__fondo {
  background-image: url("../images/fondopagina.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y; }

.header__promociones {
  font: 700 16px "roboto";
  text-align: center;
  text-decoration: none;
  color: black;
  position: fixed;
  background-color: #f9f6cb;
  padding: 0px 540px 0px 540px;
  z-index: 100000000000;
  transition: all 2s; }

.header__promociones:hover {
  background-color: #64e0b5;
  transition: all 2s; }

.header__titulo {
  text-decoration: none;
  color: #000;
  text-align: left;
  font-family: roboto;
  padding: 15px;
  height: 200px; }

.header__buscador {
  padding-top: 75px; }

p {
  font: 400 16px "roboto"; }

.titulos {
  font: 900 30px "roboto";
  text-align: center;
  padding-top: 50px; }

.fuente__cuadros {
  font: 500 16px "roboto"; }

.quienessomos__texto {
  font: 400 16px "roboto";
  border: solid 10px black; }

@media only screen and (min-width: 340px) {
  .productos__titulos {
    font-family: roboto;
    font-weight: 900;
    font-size: 30px;
    color: black;
    text-align: left; }
  .header__titulo {
    height: 150px; }
  .header__buscador {
    padding-top: 45px; }
  .productos__grid {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px;
    justify-content: left;
    padding-bottom: 50px; }
    .productos__grid div img {
      height: 200px;
      width: 200px; }
    .productos__grid div p {
      width: 200px;
      font-weight: 700;
      justify-content: left; }
  .promociones__grid {
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 500px 500px 500px 500px;
    justify-content: left;
    align-items: center; }
    .promociones__grid div img {
      height: 200px;
      width: 200px; }
    .promociones__grid div p {
      width: 200px;
      font-weight: 700;
      justify-content: center; }
  .header__grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px;
    background-color: #c8e8dd;
    justify-content: left;
    align-items: left; }
    .header__grid div {
      height: 50px;
      width: 10px;
      background-color: #c8e8dd;
      transition: all 2s; }
    .header__grid div:hover {
      background-color: #63DFB4;
      transition: all 2s; }
    .header__grid div p {
      text-align: center;
      font-family: roboto;
      font-weight: 500;
      font-size: 10px;
      color: #000;
      border: solid 1px #000;
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px; }
  .footer__grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px;
    background-color: #f9f6cb;
    font-family: roboto;
    justify-content: center;
    align-items: center; }
    .footer__grid .footer--contacto {
      width: 300px;
      height: 150px;
      text-align: center; }
    .footer__grid .footer--ayuda {
      width: 320px;
      height: 150px;
      text-align: center; }
    .footer__grid .footer--redes {
      width: 300px;
      height: 150px;
      text-align: center; }
  .footer--derechos {
    font-family: Roboto;
    text-align: center; }
  .footer--redes--size {
    height: 50px;
    width: 50px; } }

@media only screen and (min-width: 769px) {
  .productos__titulos {
    font-family: roboto;
    font-weight: 900;
    font-size: 30px;
    color: black;
    text-align: left; }
  .header__titulo {
    height: 200px; }
  .header__buscador {
    padding-top: 75px; }
  .productos__grid {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px;
    justify-content: left;
    padding-bottom: 50px; }
    .productos__grid div img {
      height: 200px;
      width: 200px; }
    .productos__grid div p {
      width: 200px;
      font-weight: 700;
      justify-content: left; }
  .promociones__grid {
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 500px 500px 500px 500px;
    justify-content: left;
    align-items: center; }
    .promociones__grid div img {
      height: 200px;
      width: 200px; }
    .promociones__grid div p {
      width: 200px;
      font-weight: 700;
      justify-content: center; }
  .header__grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px;
    background-color: #c8e8dd;
    justify-content: left;
    align-items: left; }
    .header__grid div {
      height: 50px;
      width: 10px;
      background-color: #c8e8dd;
      transition: all 2s; }
    .header__grid div:hover {
      background-color: #63DFB4;
      transition: all 2s; }
    .header__grid div p {
      text-align: center;
      font-family: roboto;
      font-weight: 500;
      font-size: 10px;
      color: #000;
      border: solid 1px #000;
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px; }
  .footer__grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px;
    background-color: #f9f6cb;
    font-family: roboto;
    justify-content: center;
    align-items: center; }
    .footer__grid .footer--contacto {
      width: 300px;
      height: 150px;
      text-align: center; }
    .footer__grid .footer--ayuda {
      width: 320px;
      height: 150px;
      text-align: center; }
    .footer__grid .footer--redes {
      width: 300px;
      height: 150px;
      text-align: center; }
  .footer--derechos {
    font-family: Roboto;
    text-align: center; }
  .footer--redes--size {
    height: 50px;
    width: 50px; } }

@media only screen and (min-width: 992px) {
  .productos__titulos {
    font: 900 30px "roboto"; }
  .productos__grid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 350px 350px 350px 350px;
    justify-content: center;
    align-items: center; }
    .productos__grid div img {
      height: 200px;
      width: 200px; }
    .productos__grid div p {
      width: 200px;
      font-weight: 700;
      text-align: center; }
  .header__titulo {
    height: 200px; }
  .header__buscador {
    padding-top: 75px; }
  .promociones__grid {
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 500px 500px 500px;
    justify-content: center; }
    .promociones__grid div img {
      height: 400px;
      width: 600px; }
    .promociones__grid div p {
      width: 200px;
      font-weight: 700;
      justify-content: center; }
  .header__grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 50px;
    justify-content: center;
    transition: all 2s; }
    .header__grid div {
      height: 50px;
      width: 150px; }
    .header__grid div p {
      text-align: center;
      font-family: roboto;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      border: solid 1px #000;
      border-top: 0px;
      border-bottom: 0px;
      border-left: 0px; }
  .footer__grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 150px;
    background-color: #f9f6cb;
    font-family: roboto;
    justify-content: center;
    align-items: center; }
    .footer__grid .footer--contacto {
      width: 300px;
      height: 150px;
      text-align: center; }
    .footer__grid .footer--ayuda {
      width: 320px;
      height: 150px;
      border: solid 1px #000;
      padding-left: 20px;
      border-top: 0px;
      border-bottom: 0px;
      text-align: left; }
    .footer__grid .footer--redes {
      width: 300px;
      height: 150px;
      text-align: center; }
  .footer--derechos {
    font-family: Roboto;
    text-align: center; }
  .footer--redes--size {
    height: 50px;
    width: 50px; } }

.bordes {
  border: solid 1px black; }

.centrado {
  text-align: center; }

.padding {
  padding-top: 50px;
  padding-bottom: 50px; }
