/*--------------------------------------------------------------
# encontranos
--------------------------------------------------------------*/
.encontranos .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #f9f6cb;
  }
  
  .encontranos .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .encontranos .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .encontranos .php-email-form .error-message {
    display: none;
    color: #6c665c;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .encontranos .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .encontranos .php-email-form .sent-message {
    display: none;
    color: #f9f6cb;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .encontranos .php-email-form .loading {
    display: none;
    background: #f9f6cb;
    text-align: center;
    padding: 15px;
  }
  
  .encontranos .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .encontranos .php-email-form input, .encontranos .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .encontranos .php-email-form input {
    height: 44px;
  }
  
  .encontranos .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .encontranos .php-email-form button[type="submit"] {
    background: #c8e8dd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .encontranos .php-email-form button[type="submit"]:hover {
    background: #9dffdd;
  }