/*--------------------------------------------------------------
# tortas clasicas
--------------------------------------------------------------*/
.tortas-clasicas {
    overflow: hidden;
  }
  
  .tortas-clasicas .nav-tabs {
    border: 0;
  }
  
  .tortas-clasicas .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: rgb(150, 150, 150);
    border-radius: 0;
    border-right: 2px solid #c8e8dd;
    font-weight: 600;
    font-size: 15px;
  }
  
  .tortas-clasicas .nav-link:hover {
    color: #000;
  }
  
  .tortas-clasicas .nav-link.active {
    color: #000;
    border-color: #000;
    background-color: #c8e8dd;
  }
  
  .tortas-clasicas .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
  }
  
  .tortas-clasicas .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #433f39;
  }
  
  .tortas-clasicas .details p {
    color: #777777;
  }
  
  .tortas-clasicas .details p:last-child {
    margin-bottom: 0;
  }
  
  @media (max-width: 992px) {
    .tortas-clasicas .nav-link {
      border: 0;
      padding: 15px;
    }
    .tortas-clasicas .nav-link.active {
      color: #000;
      background: #f9f6cb;
    }
  }